body {
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr) repeat(1, 4fr) repeat(1, 4fr) repeat(1, 4fr);
}

.sidebar {
    background-color: #0ea5e9;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 7;

    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 20px;
}

.sidebar .sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 40px;
} 

.sidebar .sidebar-header .sidebar-logo {
    margin-right: 20px;
}

.sidebar .sidebar-menu1 {
    margin-bottom: 25px;
}

.sidebar .sidebar-menu1 .links,
.sidebar .sidebar-menu2 .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;
}

.sidebar .sidebar-menu1 .links svg,
.sidebar .sidebar-menu2 .links svg {
    margin-right: 25px;
}

.sidebar .sidebar-menu1 .links a,
.sidebar .sidebar-menu2 .links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header {
    background-color: rgb(167, 147, 147);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.navbar {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.content-heading {
    background-color: gray;
    grid-column: 2 / 3;
}

.announcements-heading {
    background-color: rgb(187, 92, 92);
    grid-column: 3 / 4;
}

.content {
    background-color: blueviolet;
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}

.menu {
    background-color: black;
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}
