.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr) repeat(1, 4fr) repeat(1, 4fr) repeat(1, 4fr);
}

.sidebar {
    background-color: #0ea5e9;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.header {
    background-color: rgb(167, 147, 147);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.navbar {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.content-heading {
    background-color: gray;
    grid-column: 2 / 3;
}

.announcements-heading {
    background-color: rgb(187, 92, 92);
    grid-column: 3 / 4;
}

.content {
    background-color: blueviolet;
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}

.menu {
    background-color: black;
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}
